/* Add your styles here */


body {
  font-family: Arial, sans-serif;
  margin-top: 10vh;
  padding: 0;
}

header {
  background-color: #333;
  padding: 20px;
  color: #fff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

#banner {
  text-align: center;
  background-color: #f5f5f5;
  min-height: 500px;
  height: 100%;
  position: relative;
}

#banner h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

#banner p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px;
}

.nav-link {
  color: white;
}

.feature-image {
  border-radius: 25%;
}

/* #banner {
    background-image: url("./images/truck.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    padding: 12em 0 11em 0;
} */

.mask {
  background-color: rgba(58, 71, 253, 0.2);
  z-index: 100;
}

#banner {
  padding: 0;
}

.bg-image1 {
  background-image: url("./images/truck.jpg");
  height: 700px;

  background-attachment: fixed;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.bg-image2 {
  background-image: url("./images/trucks.jpg");
  height: 700px;

  background-attachment: fixed;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.card {
  margin: 10px;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid blue; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: blue;
  }
}

.color {
  background-color: #4300be;
  border-color: #4300be;
  box-shadow: 0 4px 9px -4px #4300be;
}

.color:hover {
  background-color: rgb(72, 136, 255);
}

.services {
  display: flexbox;
  flex-direction: row;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card {
  /* flex: 1 0 100%; Make each card grow to fill the available space equally */
  height: 100%;
}

.logo {
  object-fit: cover;
  max-width: 80%;
  max-height: 100%
}

@media (max-width: 1020px) {
  .card-img-top {
    height: 300px; /*Allow the image height to adjust automatically */
  }
  /* .card {
    height: 18rem;
  } */
}

#contact {
  min-height: 100%;
  padding-top: 5%;
}

/* About Us Page Css - Start */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color 0.15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

.about-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 97px;
}

.our-mission {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  width: 85%;
  padding-bottom: 70px;
}

.header-section {
  background-image: url("./images/aboutimg.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
}

.header-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the transparency (0.5 = 50% opaque black) */
}

.header-section h1,
.header-section p,
.header-section a {
  color: #fff; /* Set the text color to white */
}

/* About Us Page Css - End */
